

body {
  font-family: Raleway;
}

.menu {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 25px;
}

.menu img {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 40px;
}

.liste_nav {
    display: flex;
    vertical-align: top;
    align-content: space-between;
    padding: auto;
    flex-grow: initial;
    list-style: none;
}

.liste_nav a {
    align-self: flex-start;
    padding: 25px 25px 25px 25px;
}

a {
    text-decoration: none;
    color: #0065FC;
}

a:hover {
    text-decoration: none;
    color: #000000;
    border-top: 3px solid #0065FC;
}

.anchor-text a:hover {
    text-decoration: none;

}

a:active {
    text-decoration: none;
    border-top: 3px solid #0065FC;
}

a:focus {
    text-decoration: none;
}

#hebergement {
    padding:  24px 16px 24px 16px;
}

#hebergement h6 {
    font-weight: lighter;
}

.btn-map {
  border: 2px solid #FFFFFF;
  color: #000000;
  background-color: #F2F2F2;
  font-weight: bolder;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  padding: 8px 12px 8px 12px;

}

.btn-mar {
  border: 1px solid #F2F2F2;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bolder;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  padding: 5px 8px 5px 8px; 
}

.filtres {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    padding: 25px 25px 25px 0px;
    color:  #000000;
}
#btn-filtres {
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    color: #000000;
    background-color: #FFFFFF;
    font-weight: bolder;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    padding: 5px 8px 5px 8px;
}

 #btn-eco, #btn-fam, #btn-rom, #btn-ani {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    color: #000000;
    background-color: #FFFFFF;
    font-weight:bolder;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    padding: 4px 8px 4px 8px;
}
#money, #child, #heart, #dog {
    flex-grow: 1;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 4px 8px 4px 8px;
    border-radius: 50px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

#circle {
    color: #0065FC;
}  

.info h6 {
    font-weight: lighter;
    padding: 4px 8px 4px 8px;
}

#bloc_page {
  display: flex;
  flex-direction: column;
}

#cards_marseille {
    display: flex;
}

.marseille {
    background-color: #F2F2F2;
    display: inline-block;
    border-radius: 16px;
}

.marseille h4 {
    padding: 16px; 
}

.hebergements_filtres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px; 
}

.hebergements_filtres img {
    width: 150px;
}

.cannebiere, .hotel_du_port, .hotel_les_mouettes, .hotel_de_la_mer, .auberge_le_panier, .hotel_chez_amina {
    display: inline-block;
    background: white;                        
    padding: 8px;                             
    border-radius: 16px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    object-fit: contain;
    flex-shrink: inherit;
    width: 180px;
}

.cannebiere img, .hotel_du_port img, .hotel_les_mouettes img, .hotel_de_la_mer img, .auberge_le_panier img, .hotel_chez_amina img {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.card-info {
    height: 50px; 
}

.card-info h6 {
    font-size: 12px;  
}

.card-info p {
    font-size: 8px;
}
.pop_cards { 
  background-color: #F2F2F2;

}

.pop_cards img {
  width: 150px;
}

.rate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    color: #0065FC;
}

.card-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

#activites {
    display: flex;
    flex-direction: row;
}

.cards_activites {
    display: flex;
    flex-direction: row;
}

.vieux_port {
  background: white;                        
  padding: 4px 0px 4px 0px;                             
  border-radius: 16px;                        
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  object-fit: contain;
  flex-shrink: inherit;
  width: 150px;
}