@font-face {
    font-family: "Raleway";
    src: url("raleway/Raleway-Light.ttf");
    src: url("raleway/Raleway-Medium.ttf");
    src: url("raleway/Raleway-Regular.ttf");
    src: url("raleway/Raleway-SemiBold.ttf");
    src: url("raleway/Raleway-Bold.ttf");
}

body {
    font-family: "Raleway";
    margin: auto;
}

#bloc_page {
    width: 95%;
}

body h4 {
    font-size: 1rem;
}

body h6 {
    font-size: 0.8rem;
}

.menu_mobile {
    display: none;
    font-size: 0.8rem;
}

.menu {
    background-color: #FFFFFF;
    display: flex;
    box-sizing: border-box;
    margin: auto;
    margin-top: 8px;
    margin-left: 4px;
    font-size: 0.8rem;
}

.menu img {
    width: 10%;
    height: fit-content;
}

.liste_nav {
    font-family: 'Raleway';
    font-weight: lighter;
    margin-left: auto;
    margin-right: 8px;
}

.liste_nav a {
    color:#000000;
    font-family: 'Raleway';
    font-weight: lighter;
    padding: 8px;
}

.liste_nav a:link {
    text-decoration: none;
}

.liste_nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.liste_nav a:active {
    border-top: 3px solid #0065FC;
}

.droit a {
    color: #0065FC;
    font-family: 'Raleway';
    font-weight: lighter;
    font-family: 'Raleway';
    font-weight: lighter;
}

.recherche {
    font-family: 'Raleway';
    padding-bottom: 4px;
    padding-top: 4px;
    margin-left: 16px;
    width: auto;
}

.btn-second {
    display: none;
}

.recherche h4 {
    padding-top: 8px;
    padding-bottom: 4px;
}

.recherche p {
    font-family: 'Raleway';  
    font-weight: lighter;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: 0.8;
}

.btn-map {
    border: 2px solid #FFFFFF;
    color: #000000;
    background-color: #F2F2F2;
    font-weight: bolder;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    padding: 8px 12px 8px 12px;
    border-radius:  10px 0px 0px 10px;
}

.btn-primary {
    border-radius:  0px 10px 10px 0px;
}

form {
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
    transition: opacity 0.3s ease;
    padding: 5px 8px 5px 8px;
    height: 42px; 
}

input {
    border: transparent;
    color: #000000;
    font-family: 'Raleway';
    font-weight: bolder;
}

.filtres {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    list-style: none;
    color:  #000000;
}

.filtres h6 {
    padding: 8px 12px 8px 0px;
}

.boutons_filtres {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    padding: 25px 25px 25px 4px;
    color:  #000000;
}

.boutons_filtres a:hover {
    background-color: #0065FC;
    opacity: 0.8;
}

 .btn-image {
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    color: #000000;
    background-color: #FFFFFF;
    font-weight:bolder;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    padding: 6px 8px 6px 0px;
    margin: 4px 8px 4px 16px;
}
.icon {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 4px 8px 4px 8px;
    border-radius: 50px; 
}

.info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    padding-top: 8px;
}

#circle {
    color: #0065FC;
}  

.info h6 {
    font-weight: lighter;
    padding: 4px 8px 4px 8px;
}

#bloc_page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.marseille {
    display: flex;
    margin: auto;
    width: auto;
    height: auto;
}

#hebergements {
    background-color: #F2F2F2;
    display: inline-block;
    border-radius: 16px;
    height: auto;
    width: 60%;
    margin: auto;
}

#hebergements h4 {
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: bold;
    padding-top: 16px;
}

#hebergements h5 {
    font-size: 0.8rem;
    font-family: 'Raleway';
    font-weight: bolder;
}

.hebergements_filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
    background-color: #F2F2F2;
}

.row_hotel{
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: #F2F2F2;
}

.hebergements_filtres a {
    text-decoration: none;
    color: #000000;
}

.hotels {
    display: inline-block;
    background: white;                        
    padding: 4px;                             
    border-radius: 10px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    width: 30%;
    margin: auto;
}

.hotels img {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.card-info {
    line-height: 2px;
    background-color: white;
    padding: 4px 4px 4px 4px;
}

.card-info h6 {
    font-size: 0.8rem;
    font-family: 'Raleway';
    font-weight: bold; 
}

.card-info p {
    font-size: 0.6rem;
    padding: 4px 0px 4px 0px;
    font-family: 'Raleway';
    font-weight:lighter;
    opacity: .7;
    margin-bottom: 5px;
}

.rate {
    font-size: 0.4rem;
    color: #0065FC;
}

#gris {
    color: #969090;
}

#populaires {
    background-color: #F2F2F2;
    border-radius: 16px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.titre {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 16px;
}

.titre h4 {
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: bold;
}

.pop_cards { 
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    width: auto;
}

.pop_cards a {
    text-decoration: none;
    color: #000000;
    width: fit-content;
    display: flex;
}

.lesplus {
    background-color: white;
    display: flex;
    height: 30%;
    width: 90%;
    padding: 4px 4px 4px 4px;
    object-fit: contain;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.lesplus img {
    border-radius:  10px 0px 0px 10px;
    height: 90px;
    width: 30%;
    object-fit: cover;
}

.card_info {
    height: 100%;
    line-height: 2px;
    background-color: white;
    padding: 4px 4px 4px 4px;
}

.card_info h6 {
    font-size: 0.8rem;
    font-family: 'Raleway';
    font-weight: bold;
}

.card_info p {
    font-size: 10px;
    font-family: 'Raleway';
    font-weight:lighter;
    opacity: .7;
}

.stars {
    font-size: 0.4rem;
    color: #0065FC;
    padding: 10px 4px 4px 4px;
}

#activites {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 16px;
}

#activites h4 {
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: bold;
}

.cards_activites {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
}

.cards_activites a {
  text-decoration: none;
  color: #000000;
}

.cards_activites img {                    
    border-radius: 10px 10px 0px 0px; 
}

.big_card {
    padding: 4px 5px 4px 0px;
}

.big_card img {
    width: 240px;
    height: 360px;
}

.small_card {
    padding: 4px 10px 4px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
}

.small_card img {
    width: 240px;
    height: 150px;
}

.cards_activites h6 {
    background-color: white;
    height: 32px;
    width: 240px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 5px;
    border-radius:  0px 0px 10px 10px;
    font-size: 12px;
    font-family: 'Raleway';
    font-weight: bold;
}

.apropo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 4px;
    width: 100%;
}

.footer_block {
    display: inline;
    text-align: left;
}

.footer_block h6 {
    font-size: 12px;
    font-weight: bolder;
    font-family: 'Raleway';
}

.list_footer {
    text-decoration: none;
    list-style: none;
    padding: 0px;
}

.list_footer a {
    color: black;
    font-size: 9px;
    font-weight: lighter;
    font-family: 'Raleway';
    opacity: 0.7;
    text-decoration: none;
}



