
@media all and (max-width: 1280px){
    #bloc_page {
        width: auto;
    }

    .marseille {
        display: flex;
        margin: auto;
    }
}

@media all and (max-width: 768px){
    #bloc_page {
        width: auto;
        margin: auto;
    }

    .liste_nav {
        margin: auto;
        width: max-content;
    }

    .marseille{
        display: flex;
        padding: 0px;
        width: auto;
    }

    #hebergements {
        width: auto;
        margin: 4px;
    }

    #hebergement h4 {
        justify-content: center;
    }

    #hebergements:nth-child(1) {
        flex: 2;
    }

    #populaires:nth-child(2) {
        flex: 1;
    }

    #populaires {
        width: auto;
        margin: 8px;
    }

    .filtres {
        flex-wrap: wrap;
    }

    #populaires {
        display:inline-block;
        width: auto;
    }

    .hebergements_filtres {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .row_hotel {
        flex-wrap: wrap;
    }

    #cards_marseille {
        flex-direction: column;
        width: auto;
    }

    .big_card {
        padding: 8px 4px 8px 0px;
    }

    .big_card img {
        width: 160px;
        height: 250px;
    }

    .small_card {
        padding: 8px 4px 8px 2px;
    }

    .small_card img {
        width: 160px;
        height: 90px;
    }

    .cards_activites h6 {
        width: 160px;  
    }

    .apropo {
        flex-direction: row;
    }
}

@media all and (max-width: 480px){
    #bloc_page {
        width: 100%;
    }

    .menu {
        display: none;
    }

    .menu_mobile {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        border-bottom: 3px solid #F2F2F2;
        margin-left: 4px;
    }

    .menu_mobile img {
        width: 16%;
        height: fit-content;
        margin-right: auto;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .line_1 {
        display: flex;
        width: auto;
    }

    .liste_nav a:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }

    .btn-group {
        display: none;
    }
    
    .btn-second {
        display: inline-flex;
        margin: auto;
    }

    #bloc_page h4 {
        font-size: 1rem;
        font-weight: bolder;
    }

    #bloc_page h6 {
        font-size: 1rem;
        font-weight: bolder;
    }

    .liste_nav {
        width: max-content;
    }  

    .liste_nav a:hover {
        border-top: 0px;
        border-bottom: 2px solid #0065FC;
    }

    .filtres {
        flex-wrap: wrap;
    }

    .filtres h5 {
        padding: 0px;
        padding-top: 8px;
        margin-left: 8px;
        font-size: 1rem;
    }

    .btn-image {
        padding: 0px;
    }

    .boutons_filtres {
        flex-wrap: wrap;
        justify-content: left;
        padding: 0px;
    }

    #populaires {
        display: inline-block;
        width: auto;
        margin: 4px;
    }

    .pop_cards {
        height: fit-content;
        margin-bottom: 8px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .lesplus {
        width: 288px;
        height: 120px;
        margin-bottom: 6px;
        margin-left: 8px;
        margin-right: 0px;
    }

    #hebergement {
        height: auto;
        width: auto;
        margin: 4px;
    }
    
    #hebergement h4 {
        justify-content: center;
    }

    .hebergements_filtres {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .row_hotel {
        flex-wrap: wrap;
    }

    .hotels {
        width: 288px;
        height: auto;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 0px;
    }

    .card-info {
        height: 40px;
    }

    .card-info h6 {
        padding: 0px;
    }

    .card-info p{
        padding: 0px;
    }

    .marseille{
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
        width: auto;
    }

    .row_hotel {
        padding: 4px;
    }

    #activites {
        height: auto;
        width: auto;
    }

    .cards_activites {
        flex-direction: column;
    }

    .cards_activites h6 {
        width: 290px;
    }

    .big_card {
        padding: 8px 10px 0px 4px;
        margin-left: 8px;
    }

    .big_card img {
        height: 110px;
        width: 290px;
    }

    .small_card {
        padding: 8px 10px 5px 4px;
        margin-left: 8px;
    }

    .small_card img {
        height: 110px;
        width: 290px;
    }

    .apropo {
        flex-direction: column;
        width: auto;
    }

    .footer_block {
        margin-left: 1rem;
    }