
@media all and (max-width: 1280px){
    #bloc_page {
        width: auto;
    }
}

@media all and (max-width: 768px){
    #bloc_page {
        width: 700px;
    }

    .liste-nav {
        display: flex;
        flex-wrap: wrap;
    }

    .filtres {
        flex-wrap: wrap;
    }

    #populaires {
        grid-template-columns: 1fr;
    }

    .hebergements_filtres {
        grid-template-columns: 1fr 1fr;
    }

    #cards_marseille {
        flex-direction: column;
    }

    .activites {
        flex-direction: column;
    }

    .apropo {
        flex-direction: column;
    }
}

@media all and (max-device-width: 480px){
    #bloc_page {
        width: 400px;
    }

    #bloc_page h4 {
        font-size: 16px;
        font-weight: bolder;
        padding: 8px 12px 8px 12px;
    }

    #bloc_page h6 {
        font-size: 10px;
        font-weight: bolder;
    }

    .menu img {
        width: 72px;
        height: 40px;
    }

    .liste_nav {
        position: relative;
        top: 42px;
        font-size: 12px;
    }

    .liste_nav a {
        padding: 0px 25px 4px 25px;
    }    

    .liste_nav a:hover {
        border-top: 0px;
        border-bottom: 2px solid #0065FC;
    }

    .filtres {
        flex-wrap: wrap;
    }

    .filtres h6 {
        padding: 0px;
    }

    .btn-image {
        padding: 0px;
    }

    .boutons_filtres {
        flex-wrap: wrap;
        padding: 4px 25px 4px 4px;
    }

    #populaires {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .lesplus {
        width: 300px;
        height: 120px;
    }

    #hebergement {
        height: auto;
        padding: 12px 4px 4px 16px;
    }

    .hebergements_filtres {
        display: flex;
        flex-direction: column;
    }

    .hotels {
        width: 300px;
        height: 150px;
    }

    .card-info {
        height: 40px;
    }

    .card-info h6 {
        padding: 0px;
    }

    .card-info p{
        padding: 0px;
    }

    #marseille{
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements {
        height: auto;
    }

    .activites {
        height: auto;
    }

    .activites h4 {
        padding: 4px 4px 4px 16px;
    }

    .cards_activites {
        flex-direction: column;
    }

    .cards_activites h6 {
        width: 300px;
    }

    .big_card {
        padding: 8px 10px 10px 0px;
    }

    .big_card img {
        height: 110px;
        width: 300px;
    }

    .small_card {
        padding: 8px 10px 5px 0px;
    }

    .small_card a {
        padding: 8px 10px 5px 0px;
    }

    .small_card img {
        height: 110px;
        width: 300px;
    }

    .apropo {
        flex-direction: column;
    }

    .nos_hebergements, .assistance {
        padding: 0;
    }


}